APP_NAME=Laravel
APP_ENV=testing
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=sqlite
DB_DATABASE=:memory:

SCOUT_DRIVER=null

# WEB-1189: Write tests for authentication behavior
APP_RESTRICTED=false

PRODUCTION_URL=