/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env*
!.env.*example
/storage/clockwork
Envoy.blade.php
.phpunit.result.cache
.php_cs.cache
.php_cs

/public/js
/public/css

pids
logs
coverage/
run
dist
.DS_Store
.nyc_output
.basement
config.local.js
basement_dist
/public/docs