<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude([
        'bootstrap/cache',
        'database/dumps',
        'node_modules',
        'public',
        'resources/lang',
        'storage',
        'vendor',
    ])
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules([
        'align_multiline_comment' => [
            'comment_type' => 'phpdocs_like',
        ],
        'array_indentation' => true,
        'array_syntax' => [
            'syntax' => 'short',
        ],
        'backtick_to_shell_exec' => true,
        'binary_operator_spaces' => [
            'default' => 'single_space',
        ],
        'blank_line_after_namespace' => true,
        'blank_line_after_opening_tag' => true,
        'blank_line_before_statement' => [
            'statements' => [
                'for',
                'foreach',
                'if',
                'switch',
                'try',
                'while',
            ],
        ],
        // https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/823
        // 'braces' => [
        //     'allow_single_line_closure' => false,
        //     'position_after_anonymous_constructs' => 'same',
        //     'position_after_control_structures' => 'same',
        //     'position_after_functions_and_oop_constructs' => 'next',
        // ],
        'cast_spaces' => true,
        // 'class_attributes_separation' => [
        //     'elements' => [
        //         'const',
        //         'method',
        //         'property',
        //     ],
        // ],
        'class_definition' => [
            'multi_line_extends_each_single_line' => true,
            'single_item_single_line' => true,
            'single_line' => false,
        ],
    ])
    ->setFinder($finder)
;
