<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude([
        'bootstrap/cache',
        'database/dumps',
        'node_modules',
        'public',
        'resources/lang',
        'storage',
        'vendor',
    ])
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules([
        'align_multiline_comment' => [
            'comment_type' => 'phpdocs_like',
        ],
        'array_indentation' => true,
        'array_syntax' => [
            'syntax' => 'short',
        ],
        'backtick_to_shell_exec' => true,
        'binary_operator_spaces' => [
            'default' => 'single_space',
        ],
        'blank_line_after_namespace' => true,
        'blank_line_after_opening_tag' => true,
        'blank_line_before_statement' => [
            'statements' => [
                'for',
                'foreach',
                'if',
                'switch',
                'try',
                'while',
            ],
        ],
        // https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/823
        // 'braces' => [
        //     'allow_single_line_closure' => false,
        //     'position_after_anonymous_constructs' => 'same',
        //     'position_after_control_structures' => 'same',
        //     'position_after_functions_and_oop_constructs' => 'next',
        // ],
        'cast_spaces' => true,
        // 'class_attributes_separation' => [
        //     'elements' => [
        //         'const',
        //         'method',
        //         'property',
        //     ],
        // ],
        'class_definition' => [
            'multi_line_extends_each_single_line' => true,
            'single_item_single_line' => true,
            'single_line' => false,
        ],
        'class_keyword_remove' => false,
        'combine_consecutive_issets' => false,
        'combine_consecutive_unsets' => false,
        // 'combine_nested_dirname' => true,
        // 'comment_to_phpdoc' => true,
        'compact_nullable_typehint' => true,
        'concat_space' => [
            'spacing' => 'one',
        ],
        // 'date_time_immutable' => true,
        'declare_equal_normalize' => [
            'space' => 'single',
        ],
        // 'declare_strict_types' => false,
        // 'dir_constant' => true,
        'elseif' => true,
        'encoding' => true,
        // 'ereg_to_preg' => true,
        // 'error_suppression' => false, // (?)
        'escape_implicit_backslashes' => [
            'double_quoted' => true,
            'heredoc_syntax' => true,
            'single_quoted' => false, // FQCN
        ],
        'explicit_indirect_variable' => true,
        'explicit_string_variable' => true,
        'final_class' => false,
        'final_internal_class' => false,
        // 'fopen_flag_order' => true,
        // 'fopen_flags' => true,
        'full_opening_tag' => true,
        // 'fully_qualified_strict_types' => true, // (?)
        'function_declaration' => [
            'closure_function_spacing' => 'one',
        ],
        // function_to_constant
        'function_typehint_space' => true,
        // general_phpdoc_annotation_remove
        // header_comment
        // heredoc_indentation
        // heredoc_to_nowdoc
        // implode_call
        'include' => true,
        'increment_style' => [
            'style' => 'post',
        ],
        // indentation_type
        // is_null
        // line_ending
        'linebreak_after_opening_tag' => true,
        'list_syntax' => [
            'syntax' => 'short',
        ],
        // 'logical_operators' => true,
        'lowercase_cast' => true,
        'lowercase_constants' => true,
        'lowercase_keywords' => true,
        'lowercase_static_reference' => true,
        'magic_constant_casing' => true,
        'magic_method_casing' => true,
        // mb_str_functions
        'method_argument_space' => [
            'keep_multiple_spaces_after_comma' => false,
            'on_multiline' => 'ensure_fully_multiline',
        ],
        'method_chaining_indentation' => true,
        // modernize_types_casting
        'multiline_comment_opening_closing' => true,
        'multiline_whitespace_before_semicolons' => [
            'strategy' => 'no_multi_line', // vs. 'new_line_for_chained_calls'
        ],
        // native_constant_invocation
        'native_function_casing' => true,
        // native_function_invocation
        'native_function_type_declaration_casing' => true,
        'new_with_braces' => true,
        // no_alias_functions
        'no_alternative_syntax' => true,
        'no_binary_string' => true,
        // 'no_blank_lines_after_class_opening' => true,
        'no_blank_lines_after_phpdoc' => false, // for config
        'no_blank_lines_before_namespace' => false, // cf. 'blank_line_after_namespace'
        // 'no_break_comment' => true,
        'no_closing_tag' => true,
        'no_empty_comment' => true,
        'no_empty_phpdoc' => true,
        'no_empty_statement' => true,
        'no_extra_blank_lines' => [
            'extra',
        ],
        // no_homoglyph_names
        'no_leading_import_slash' => true,
        'no_leading_namespace_whitespace' => true,
        'no_mixed_echo_print' => [
            'use' => 'echo',
        ],
        'no_multiline_whitespace_around_double_arrow' => true,
        'no_null_property_initialization' => true,
        // no_php4_constructor
        'no_short_bool_cast' => true,
        'no_short_echo_tag' => true,
        'no_singleline_whitespace_before_semicolons' => true, // TODO: Verify?
        'no_spaces_after_function_name' => true,
        'no_spaces_around_offset' => [
            'inside',
            'outside'
        ],
    ])
    ->setFinder($finder)
;
