parameters:
    paths:
        - app
        - routes
        - database/migrations
        - database/seeds
        - tests
    level: 1
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined static method .*#'
        - '#Call to static method [a-zA-Z]+\(\) on an unknown class .*#'
        - '#Access to an undefined property .*#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\.*#'
        - '#Undefined variable: \$factory#'
