/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

@import url("//cloud.typography.com/612324/7579192/css/fonts.css");
@import url("//hello.myfonts.net/count/3545d5");
@font-face {font-family: 'Sabon';src: url(/assets/fonts/3545D5_0_0.eot);src: url(/assets/fonts/3545D5_0_0.eot?#iefix) format('embedded-opentype'),url(/assets/fonts/3545D5_0_0.woff2) format('woff2'),url(/assets/fonts/3545D5_0_0.woff) format('woff'),url(/assets/fonts/3545D5_0_0.ttf) format('truetype');font-weight:normal;font-weight:400;font-style:normal;}
@font-face {font-family: 'Sabon';src: url(/assets/fonts/3545D5_1_0.eot);src: url(/assets/fonts/3545D5_1_0.eot?#iefix) format('embedded-opentype'),url(/assets/fonts/3545D5_1_0.woff2) format('woff2'),url(/assets/fonts/3545D5_1_0.woff) format('woff'),url(/assets/fonts/3545D5_1_0.ttf) format('truetype');font-weight:normal;font-weight:400;font-style:italic;}
@font-face {font-family: 'Sabon';src: url(/assets/fonts/3545D5_2_0.eot);src: url(/assets/fonts/3545D5_2_0.eot?#iefix) format('embedded-opentype'),url(/assets/fonts/3545D5_2_0.woff2) format('woff2'),url(/assets/fonts/3545D5_2_0.woff) format('woff'),url(/assets/fonts/3545D5_2_0.ttf) format('truetype');font-weight:normal;font-weight:500;font-style:normal;}

body
  font-family: "Ideal Sans A","Ideal Sans B",Helvetica,Arial,sans-serif
  font-weight: 300
  font-size: 18px
  line-height: 28px
  letter-spacing: .01em
  -webkit-font-feature-settings: 'lnum' on
  font-feature-settings: 'lnum' on
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-font-kerning: normal
  font-kerning: normal
  text-rendering: optimizeLegibility
  -webkit-font-variant-ligatures: common-ligatures
  font-variant-ligatures: common-ligatures

h1 
  font-weight: 300
  font-size: 58px
  line-height: 68px
  letter-spacing: .08em
  text-transform: uppercase

h2 
  font-size: 36px
  line-height: 44px
  font-weight: 300
  letter-spacing: .09em
  text-transform: uppercase
  margin-top: 52px

h3 
  font-family: Sabon,Times New Roman,Times,Georgia,serif
  font-weight: 300
  font-size: 28px
  line-height: 36px
  margin-top: 44px

h4
  font-weight: 300
  
h5
  font-size: 18px
  line-height: 28px
  font-weight: 300
  font-style: italic

a 
  font-weight: 300;