/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #b50938
$textColor = #1a1a1a
$borderColor = #eaecef
$codeBgColor = #282c34

$navbarHeight = 5.6rem

.navbar .home-link .site-name
  font-weight: 300

.nav-links a 
  font-weight: 300;
  font-size: 19px
  line-height: 28px

.home .hero #main-title
  text-align: left
  margin-bottom: 58px
  margin-top: 48px

.home .footer
  text-align: left
  padding-left: 0

.sidebar-heading
  font-weight: normal

a.sidebar-link
  font-weight: 300

a.sidebar-link.active
  font-weight: 400
